div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      ui-gmap-google-map(center='map.center', zoom='map.zoom', events='map.events')
        ui-gmap-markers(models="randomMarkers" coords="'self'" icon="'icon'")

footer.footer
  .container
    p
      | Dawid Pregel
      = ' | '
      a(href='https://github.com/mtree/coordsonar') coordsonar